.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#month {
  fill: #fac965;
  font-family: Colfax-Black;
  font-size: '50px';
}

#date {
  fill: #fac965;
  font-family: Colfax-Black;
  font-size: 50;
}

#day {
  fill: #fac9c9;
  font-family: Colfax-Black;
  font-size: 60;
}


#myClock {
  fill: white;
  font-size: 80;
  font-family: Colfax-Black;
}

#ampm {
  fill: #8000ff;
  font-size: 40;
  font-family: Colfax-Black;
}

#seconds {
  fill: #67ffcd;
  font-size: 40;
  font-family: Colfax-Black;
}

#arc-steps-back {
  fill: #F08080;
  opacity: 0.3;
}

#arc-hr-back {
  fill: #F08080;
  opacity: 0.3;
}

#steps {
  fill: deepskyblue;
  font-family: Tungsten-Medium;
  font-size: 27;
}