.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#myClock {
  font-size: "150";
  font-family: Colfax-Black;
}
#myClock-sec {
  fill: white;
  font-size: "10";
  font-family: Colfax-Black;
}

#arc-steps-back {
  opacity: 0.3;
}

#arc-distance-back {
  opacity: 0.3;
}

#date-month {
  fill: #FFDEAD;
  font-family: Colfax-Black;
  font-size: 60;
}

#date-date {
  fill: #FFDEAD;
  font-family: Colfax-Black;
  font-size: 55;
}