.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
}

#screen {
  width: 100%;
  height: 100%;
  viewport-fill: black;
}

.box {
  width: 100%-10; 
  height: 32%; 
  x: 5; 
  y: $+5;
}

#month {
  fill: #fac965;
  font-family: Colfax-Black;
  font-size: 40;
}

#date {
  fill: #fac965;
  font-family: Colfax-Black;
  font-size: 40;
}

#day {
  fill:	#fd6667;
  font-family: Colfax-Black;
  font-size: 60;
}


#myClock {
  fill: white;
  font-size: 74;
  font-family: Colfax-Black;
}

#ampm {
  fill: #8000ff;
  font-size: 40;
  font-family: Colfax-Black;
}

#seconds {
  fill: #67ffcd;
  font-size: 40;
  font-family: Colfax-Black;
}
#arc-fore {
  fill: #53d52a;
}

#arc-back {
  fill: #53d52a;
  opacity: 0.3;
}

#stats_steps {
  fill: deepskyblue;
  font-family: SevilleSharp-Book;
  font-size: 27;
}


#stats_hr {
  fill: #DC143C;
  font-family: SevilleSharp-Book;
  font-size: 27;
}